<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hurdle</title>
    <link rel="stylesheet" href="/css/hurdle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Hurdle!</h1>
        <small>- a Wordle rip off</small>
    </header>
    <hr>

    <div id="content">
        <div class="row" id="row0">
            <input type="text" name="cell00" id="cell00" maxlength="1" tabindex="-1">
            <input type="text" name="cell01" id="cell01" maxlength="1" tabindex="-1">
            <input type="text" name="cell02" id="cell02" maxlength="1" tabindex="-1">
            <input type="text" name="cell03" id="cell03" maxlength="1" tabindex="-1">
            <input type="text" name="cell04" id="cell04" maxlength="1" tabindex="-1">
        </div>

        <div class="row" id="row1">
            <input type="text" name="cell10" id="cell10" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell11" id="cell11" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell12" id="cell12" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell13" id="cell13" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell14" id="cell14" maxlength="1" tabindex="-1" readonly>
        </div>

        <div class="row" id="row2">
            <input type="text" name="cell20" id="cell20" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell21" id="cell21" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell22" id="cell22" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell23" id="cell23" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell24" id="cell24" maxlength="1" tabindex="-1" readonly>
        </div>

        <div class="row" id="row3">
            <input type="text" name="cell30" id="cell30" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell31" id="cell31" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell32" id="cell32" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell33" id="cell33" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell34" id="cell34" maxlength="1" tabindex="-1" readonly>
        </div>

        <div class="row" id="row4">
            <input type="text" name="cell40" id="cell40" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell41" id="cell41" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell42" id="cell42" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell43" id="cell43" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell44" id="cell44" maxlength="1" tabindex="-1" readonly>
        </div>

        <div class="row" id="row5">
            <input type="text" name="cell50" id="cell50" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell51" id="cell51" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell52" id="cell52" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell53" id="cell53" maxlength="1" tabindex="-1" readonly>
            <input type="text" name="cell54" id="cell54" maxlength="1" tabindex="-1" readonly>
        </div>
    </div>

    <footer>
        &copy; Sunny KaPatel
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/hurdle.js"></script>
</body>

</html>