* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
    background: #08090D;
}

header {
    padding: 1% 0%;
    width: 100%;
    text-align: center;
}

header small {
    position: relative;
    left: 1%;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #1A1E26;
    border: none;
}

#content {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

.row {
    padding: 0.2%;
}

.row input {
    width: 80px;
    line-height: 80px;
    margin-left: 0.2%;
    border: 2px solid #343A40;
    background: #08090D;
    color: white;
    cursor: default;
    outline: none;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    caret-color: transparent;
}

footer {
    margin-top: auto;
}